.logo {
  height: 34px;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-left: 14px;
  padding-right: 14px;
}

.left-section-header {
  max-width: 1130px;
  display: flex;  
  flex: 1;
}

.logo-anitaku {
  margin-right: 35px;
}

.search-box {
  display: flex;
  border: none;
  background-color: rgb(26, 26, 26);;
  align-items: center;
  border-radius: 5px;
  flex: 1;
  max-width: 350px;
}

.search {
  padding-left: 10px;
  color: white;
  outline: none;
  border: none;
  background-color: rgb(26, 26, 26);
  width: 0;
  height: 30px;
  flex: 1;
}

.search::placeholder {
  color: white;
}

.bx-search {
  font-size: 18px;
  padding-right: 10px;
}

.right-section-header {
  display: flex;
}

.bx-toggle-right {
  color: rgb(226, 192, 0);
  font-size: 50px;
} 

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 192, 0);
}

.navigation {
  flex: 1;
  max-width: 1180px;
  padding-left: 0;
  display: flex;
  height: 45px;
  align-items: center;
}

.navigation > li > a {
  font-size: 14px;
  padding: 16px;
}

.navigation > li > a:hover {
  background-color: rgb(36, 36, 36);
} 




