* {
  font-size: 14px;
}

body {
  font-family: Arial;
  background-color: #16151d;
  color: white;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  margin: 0;
  /* padding: 12px; */
  /* font-size: 12px; */
}

h1, h2, h3 {
  margin: 0;
}

header {
  background-color: black;
}

main {
  background-color: #16151d;
}

footer {
  height: 100px;
  background-color: rgb(48, 44, 44);
}

.footer-text {
  font-size: 13px;
  color: rgb(202, 193, 193);
  padding-top: 30px;
  text-align: center;
}