footer {
  padding-top: 1.5em;
  background-color: var(--dark-red);
  /* height: 12em; */
}


footer * {
  margin: 0;
}

.left-section {
  position: relative;
  padding-left: 2em;
}

.image-logo-pinagsama {
  height: 7.5em;
}

.image-logo-taguig {
  position: absolute;
  left: 8em;
  top: 2em;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5em;
}

.top-section > div {
  margin-left: auto;
  margin-right: auto;
}

.top-section ul {
  padding: 0;
  list-style-type: none;
}

.left-section {
  line-height: 1.8;
  position: relative;
}

/* .left-pop-up {
  top: -20em;
  background-color: var(--dark-red);
  padding: 0.5em;
  position: absolute;
}

.arrow {
  font-size: 2em;
  color: var(--dark-red);
  position: absolute;
  bottom: -0.7em;
  text-align: center;
  left: 1em;
} */

.right-section * {
  line-height: 2;
}

.bottom-section {
  padding: 1em;
}

.bottom-section p {
  font-size: 0.8em;
  text-align: center;
}

