header {
  padding: 1em 0 1em 2em;
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  /* height: 7em; */
}

.left-part {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 60%;
}

.left-part h1 {
  font-family: 'Source Sans 3';
  transition: color 0.15s;
}

.left-part h1:hover {
  color: rgb(206, 200, 89, 255);
}

.logo-image {
  height: 6.5em;
  margin-right: 1em;
}

.barangay-name {
  /* font-family: 'Source Sans 3'; */
  color: white;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navigation-list li .current-nav {
  border-top-width: 0.3em;
}

.navigation-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0.5em 2em;
  padding: 0.5em;
  border-top: 0.1em solid white;
  transition: border-top-width 0.15s;
}

.navigation-list li a:hover {
  border-top-width: 0.3em;
}

.navigate-top {
  font-size: 2.5em;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0.3em;
}

